@import '../../../styles/mixin';
@import '../../../styles/variables';

.main-acerca {
	padding: 1rem;
	color: $colorSecondaryDark;
	font-size: 1.4rem;

	&__card {
		margin-left: auto;
		margin-right: auto;
		padding: 1rem;
		background-color: $backgroundColorPrimary;
		border-radius: 1rem;
	}

	&__card--container {
		@include desktop {
			margin-bottom: 4rem;
		}
	}

	&__card--title {
		text-align: center;
	}
	&__card--content {
		@include flex(row, center, center, nowrap);

		img {
			width: 80%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
			border-radius: 1rem;

			@include tablet {
				width: 18rem;
				height: 18rem;
				margin-bottom: 4rem;
				margin-left: 4rem;
			}
			@include desktop {
				margin-bottom: 0;
			}
		}
		p {
			margin-top: 1rem;
			margin-left: 0.8rem;
			margin-right: 0.8rem;
			color: $colorSecondary;

			text-align: center;
			@include tablet {
				margin-top: 0;
				margin-left: 2rem;
				margin-right: 2rem;
				padding: 0.5rem;
			}
			@include desktop {
				padding: 0;
			}
		}
	}
}
