@keyframes beat {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	to {
		transform: scale(1);
	}
}

@keyframes bounce {
	from {
		transform: translate(0, 0);
	}
	20% {
		transform: translate(0, -0.1rem);
	}
	40% {
		transform: translate(0, 0.1rem);
	}
	60% {
		transform: translate(0, -0.1rem);
	}
	80% {
		transform: translate(0, 0.1rem);
	}
	to {
		transform: translate(0);
	}
}
