/************************** 	MEDIA QUERY  *********************************/
$brakpoints: (
	sm: 540px,
	md: 768px,
	lg: 1024px
);

@mixin mobile {
	@media screen and (max-width: map-get($brakpoints, sm)) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: map-get($brakpoints, md)) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: map-get($brakpoints, lg)) {
		@content;
	}
}
/************************** 	FLEXBOX  *********************************/

@mixin flex(
	$direction,
	$justify: stretch,
	$align: stretch,
	$wrap: nowrap
) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;

	@media screen and (max-width: map-get($brakpoints, sm)) {
		flex-direction: column;
	}
}

/************************** 	GRID  *********************************/

@mixin grid(
	$columns,
	$gap: 0,
	$justify: stretch,
	$align: stretch,
	$wrap: nowrap
) {
	display: grid;
	grid-template-columns: repeat($columns, 1fr);
	column-gap: $gap;
	row-gap: $gap;
	justify-items: $justify;
	align-items: $align;
	flex-wrap: $wrap;

	@media screen and (max-width: map-get($brakpoints, sm )) {
		grid-template-columns: 1fr;
	}
}

@mixin responsiveGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 2rem;
	justify-content: center;
	align-items: center;
}
