/************************** 	MEDIA QUERY  *********************************/
$brakpoints: (
	sm: 540px,
	md: 768px,
	lg: 1024px
);

@mixin mobile {
	@media screen and (min-width: map-get($brakpoints, sm)) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: map-get($brakpoints, md)) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: map-get($brakpoints, lg)) {
		@content;
	}
}
/************************** 	FLEXBOX  *********************************/

@mixin flex($direction, $justify, $align, $wrap: nowrap) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;

	@media screen and (max-width: map-get($brakpoints, sm )) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
