/************************** 	FONT  *********************************/
@font-face {
	font-family: 'Philosopher';
	src: url('../assets/philosopher/Philosopher-Bold.ttf');
	src: url('../assets/philosopher/Philosopher-BoldItalic.ttf');
	src: url('../assets/philosopher/Philosopher-Italic.ttf');
	src: url('../assets/philosopher/Philosopher-Regular.ttf');
}
$fuenteTexto: 'Philosopher';

/************************** 	COLORS  *********************************/
$colorPrimary: #159bc4;
$colorSecondary: #e0ddaa;
$colorSecondaryDark: #d6d176;
/************************** 	BACKGROUND COLORS  *********************************/
$backgroundColorPrimary: #232425;
$backgroundColorSecondary: #fafafa;
$backgroundColorProgressBar: #159bc4;
