/************************** 	COLORS  *********************************/
$white: #fff;
$primary: #159bc4;

/************************** 	BACKGROUND COLORS  *********************************/
$backgroundColorPrimary: #373a3c;
$backgroundColorSecondary: #e9e9e9;
$backgroundColorProgressBar: #159bc4;
