@import '../../../styles/variables';
@import '../../../styles/mixin';
@import '../../../styles/keyframes';

.main {
	@include boxShadow;
	border-radius: 0.6rem;
	background-color: $backgroundColorPrimary;
	color: #fff;
	@include flex(row, flex-start, center);

	&__image {
		img {
			border-radius: 50%;
			width: 15rem;
			height: 15rem;
			object-fit: cover;
			object-position: top;
			padding: 1rem;

			@include tablet {
				width: 13rem;
				height: 13rem;
			}
			@include desktop {
				width: 20rem;
				height: 20rem;
			}
		}
	}

	&__title {
		width: 100%;
		text-align: center;
		padding: 1rem;

		h4 {
			a {
				color: #fff;
				text-decoration: none;

				border-top: 1px solid #fff;
				border-right: 1px solid #f5f5f5;
				border-bottom: 1px solid #d5d5d5;
				border-left: 1px solid #f5f5f5;
				border-radius: 0.2rem;
			}
		}

		h1 {
			font-weight: bold;
			font-size: 2rem;
			margin: 0 0 1rem 0;
			@include desktop {
				font-size: 3rem;
			}
		}

		h4 {
			font-size: 1.5rem;
			letter-spacing: 0.2rem;
			margin: 0 0 1rem 0;
			@include desktop {
				letter-spacing: 0.6rem;
			}
		}
	}

	&__text-container {
		width: 100%;
		@include flex(column, flex-start, center);
	}

	&__contact-media {
		@include flex(row, center, flex-start);

		@include desktop {
			font-size: 1.2rem;
		}

		&__contact {
			text-align: center;
			@include tablet {
				text-align: start;
			}
			h2 {
				font-size: 1.4rem;
			}

			ul {
				li {
					text-align: center;
					@include tablet {
						list-style: square;
						font-size: 1rem;
						text-align: start;
					}
				}
			}
		}

		&__social {
			margin-left: auto;
			margin-right: auto;
			@include tablet {
				width: 100%;
			}

			h2 {
				font-size: 1.4rem;
				text-align: center;
			}
			a {
				img {
					width: 3rem;
					height: 3rem;
					margin-left: 1rem;
					margin-bottom: 1rem;

					@include tablet {
						margin-left: 0.4rem;
						margin-right: 0.4rem;
					}
					@include desktop {
						margin: 1rem;
					}

					&:hover {
						animation: beat 0.6s ease infinite;
					}
				}
			}

			&__images {
				@include tablet {
					@include flex(row, center, center);
				}
			}
		}
	}
}

.animation-bounce {
	animation: bounce 0.5s ease;
}
