@import '../../../styles/variables';
@import '../../../styles/mixin';
@import '../../../styles/keyframes';

.main {
	@include boxShadow;
	border-radius: 0.6rem;
	background-color: $backgroundColorPrimary;
	color: #fff;
	@include flex(row, flex-start, center);

	&__image {
		text-align: center;
		margin: 1rem;
		@include tablet {
			margin-right: 2rem;
		}
		@include desktop {
			margin-right: 0;
		}
	}

	&__title {
		width: 100%;
		text-align: center;
		padding: 1rem;

		h4 {
			a {
				color: #fff;
				text-decoration: none;
			}
		}

		h1 {
			font-weight: bold;
			font-size: 2rem;
			margin: 0 0 1rem 0;
			@include desktop {
				font-size: 3rem;
			}
		}

		h4 {
			font-size: 1.5rem;
			letter-spacing: 0.2rem;
			margin: 0 0 1rem 0;
			@include desktop {
				letter-spacing: 0.6rem;
			}
		}
	}

	&__text-container {
		width: 100%;
		@include flex(column, flex-start, center);
	}

	&__contact-media {
		@include flex(row, center, flex-start);
		@include tablet {
			font-size: 0.6rem;
		}
		@include desktop {
			font-size: 1.2rem;
		}

		&__contact {
			h2 {
				font-size: 1.4rem;
				text-align: center;
			}
			@include tablet {
				h2 {
					text-align: start;
				}
			}

			ul {
				li {
					text-align: center;
					@include tablet {
						list-style: square;
						font-size: 1rem;
						text-align: start;
					}
				}
			}
		}

		&__social {
			margin-left: auto;
			margin-right: auto;
			@include tablet {
				width: 100%;
			}

			h2 {
				font-size: 1.4rem;
				@include tablet {
					text-align: center;
				}
			}
			a {
				img {
					width: 3rem;
					height: 3rem;
					margin-left: 1rem;
					margin-bottom: 1rem;

					@include tablet {
						margin-left: 0.4rem;
						margin-right: 0.4rem;
					}
					@include desktop {
						margin: 1rem;
					}

					&:hover {
						animation: beat 0.6s ease infinite;
					}
				}
			}

			&__images {
				@include tablet {
					@include flex(row, center, center);
				}
				@media screen and (min-width: 736px) and (max-width: 768px) {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
				}
			}
		}
	}
}

.animation-bounce {
	animation: bounce 0.5s ease;
}
