@import '../../../styles/variables';
@import '../../../styles/mixin';
@import '../../../styles/keyframes';

.main {
	background-color: $backgroundColorPrimary;
	color: $white;
	@include flex(row, flex-start, center);

	&__image {
		text-align: center;
		margin: 1rem;
	}

	&__title {
		width: 100%;
		text-align: center;
		padding: 1rem;

		h1 {
			font-weight: bold;
			font-size: 2rem;
			margin: 0 0 1rem 0;
			@include desktop {
				font-size: 3rem;
			}
		}

		h4 {
			font-size: 1.5rem;
			letter-spacing: 0.2rem;
			margin: 0 0 1rem 0;
			@include desktop {
				font-size: 2.4rem;
				letter-spacing: 0.6rem;
			}
		}
	}

	&__text-container {
		width: 100%;
		@include flex(column, flex-start, center);
	}

	&__contact-media {
		@include flex(row, center, flex-start);
		@include tablet {
			font-size: 0.6rem;
		}
		@include desktop {
			font-size: 1.2rem;
		}

		&__contact {
			h2 {
				text-align: center;
			}
			@include tablet {
				h2 {
					text-align: start;
				}
			}

			ul {
				li {
					list-style: square;
					@include tablet {
						font-size: 0.9rem;
					}
				}
			}
		}

		&__social {
			margin-left: auto;
			margin-right: auto;
			@include tablet {
				width: 100%;
			}

			h2 {
				@include tablet {
					text-align: center;
				}
			}
			a {
				img {
					width: 3rem;
					height: 3rem;
					margin-left: 1rem;
					margin-bottom: 1rem;

					@include tablet {
						margin-left: 0.2rem;
						margin-right: 0.2rem;
					}
					@include desktop {
						width: 4rem;
						height: 4rem;
						margin: 1rem;
					}

					transition: transform 0.15s ease-in;
					&:hover {
						animation: beat 0.6s ease infinite;
					}
				}
			}

			&__images {
				@include tablet {
					@include flex(row, center, center);
				}
				@media screen and (min-width: 736px) and (max-width: 768px) {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
				}
			}
		}
	}
}
