@import '../../../styles/variables';
@import '../../../styles/mixin';
@import '../../../styles/keyframes';

.section-projects {
	margin-bottom: 1rem;
	h2 {
		text-align: center;
		color: $primary;
		font-weight: bold;
		padding-bottom: 1.5rem;
	}

	&__cards {
		line-height: 1.6;
		@include tablet {
			@include grid(2, 1rem);
		}

		&__card {
			background-color: #373a3c50;
			padding: 1rem;

			h3 {
				text-align: center;
				font-size: 1.8rem;

				@include tablet {
					font-size: 1.6rem;
				}
				@include desktop {
					font-size: 2rem;
				}
			}

			p {
				text-align: center;
			}

			&__link {
				display: flex;
				justify-content: center;
				margin-top: 1rem;

				a {
					text-decoration: none;
					background-color: $backgroundColorPrimary;
					color: $white;
					cursor: pointer;
					padding: 0.5rem;
					border-radius: 0.8rem;

					&:hover {
						animation: beat 0.6s ease infinite;
					}
				}
			}

			img {
				width: 100%;
				height: 14rem;
			}

			@include tablet {
				img {
					height: 16rem;
				}
			}
			@include desktop {
				img {
					height: 20rem;
				}
			}
		}
	}
}
