@import '../../../styles/variables';

.section-skills {
	@include boxShadow;
	background-color: $backgroundColorSecondary;
	font-size: 1.4rem;
	border-radius: 0.6rem;
	h2 {
		color: $colorPrimary;
		text-align: center;
		font-weight: bold;
		padding: 1rem 0;
	}

	&__skills {
		padding: 1rem;

		&--logo {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			margin-bottom: 0.8rem;

			h5 {
				@include tablet {
					font-size: 1.8rem;
				}
			}
			img {
				width: 2.5rem;
				height: 2.5rem;

				@include tablet {
					width: 3rem;
					height: 3rem;
				}
			}
		}
	}

	&__progressbar {
		background-color: $backgroundColorPrimary;
		border-radius: 1.3rem;
		padding: 0.3rem;
		&__bar {
			background: repeating-linear-gradient(
				135deg,
				$backgroundColorProgressBar 0 80%,
				#fff 99% 100%
			);
			background-size: 200%;
			height: 0.4rem;
			border-radius: 1rem;
			animation: progressBarLoading 4s linear infinite;
		}
	}
}
