@import '../../../styles/variables';

.section-experience {
	background-color: $backgroundColorSecondary;
	font-size: 1.4rem;
	h2 {
		color: $primary;
		text-align: center;
		font-weight: bold;
		padding: 1rem 0;
	}

	& ul {
		li {
			list-style-type: square;
		}
	}

	&__experience,
	&__studies,
	&__interest {
		padding: 0.6rem;
		line-height: 1.3;
	}

	&__interest {
		text-align: center;
	}
}
